<%= form_with(model: news) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
        <% news.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ime %>
    <%= form.text_field :ime %>
  </div>

  <div class="field">
    <%= form.label :datum %>
    <%= form.text_field :datum %>
  </div>

  <div class="field">
    <%= form.label :opis %>
    <%= form.text_area :opis %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
